node_modules
dist
out
release
coverage
*.log
.build-test-*
.build-visual-*
.DS_Store
design-docs/
docs/.astro/
docs/.yarn/
.vscode
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
